<app-titlebar [line]="lineId" [station]="station?.name"></app-titlebar>
<ul role="list" class="mt-5 divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 xl:rounded-xl mx-auto w-full max-w-screen-xl">
  <li *ngFor="let elevator of station?.elevators" class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6" [class.bg-yellow-100]="elevator.isBroken()" [class.hover:bg-yellow-200]="elevator.isBroken()">
    <div class="flex gap-x-4">
      <div class="min-w-0 flex-auto">
        <p class="text-sm font-semibold leading-6">
          <a [routerLink]="['/ligne', lineId, station?.name, elevator.id]">
            <span class="absolute inset-x-0 -top-px bottom-0"></span>
            {{ elevator.situation }}
          </a>
        </p>
        <p class="mt-1 flex text-xs leading-5">
          <span class="relative truncate hover:underline">{{ elevator.status.state }}<span *ngIf="elevator.hasForecast()"> jusqu'au {{ elevator.status.forecast | date:'dd/MM/y' }}</span></span>
        </p>
      </div>
    </div>
    <div class="flex items-center gap-x-4">
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6">{{ elevator.direction }}</p>
        <p class="mt-1 text-xs leading-5"><time dateTime={{elevator.status.lastupdate}}>{{ elevator.status.lastupdate | date:'dd/MM/y HH:MM' }}</time></p>
      </div>
      <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </div>
  </li>
</ul>
