html body .ui-btn.ui-btn-b.ui-custom-alert, html body .ui-body-b.ui-custom-alert {
  background-color: #FFD060;
}

body {
    font-family: Roboto, Noto, sans-serif;
    color: #212121;
}

h1 {
  font-weight: normal;
  font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

div.list paper-item {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

div.list paper-icon-item {
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

div.list paper-item-body {
    width: 100%;
}

.item-ripple:hover {
    background: #f5f5f5;
    transition: 0.3s;
}

.item-ripple:active {
    background: #e0e0e0;
    transition: 0.5s;
}

.header {
    width: 100%;
}

.card {
    margin: 16px;
}

.card h2 {
    padding: 16px;
    margin: 0px;
}

.problem {
    background-color: #ffeb3b;
}

.ok {
    color: white;
    background-color: #03a9f4;
}

.elevator-status {
    float: right;
}

.stats-graph-elem{
    text-align: center;
    margin-top: 16px;
}

.text a {
    text-decoration: underline;
}

dl {
    margin: 16px;
    padding-bottom: 16px;
}

.zoom {
    fill: transparent;
    cursor: pointer;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line,
{
    path,
    line {
        stroke: black;
        fill: none;
        stroke-width: 1px;
    }
}

.x-axis text {
    transform: translate(0px, -20px) rotate(-45deg);
}

.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.graph-body .line circle {
    opacity: 0.1;
    transform-origin: center;
}
