@import url(https://fonts.googleapis.com/css?family=Roboto);

html,body { height: 100%; margin: 0px; padding: 0px; }

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 20px;
}

.header {
    width: 100%;
}

.inaccessible {
  fill: #000000;
  opacity: 0.4;
}

.malfunction {
  fill: #ff0000;
  opacity: 0.4;
}

.ok {
  fill: #ffffff;
  opacity: 0.4;
}

.mouseover {
  opacity: 0.8;
}

.point circle {
  pointer-events: none;
}

.full-height {
  flex: 1 1 auto;
  height: 100%;
}

paper-fab#settings {
  position: absolute;
  top: 80px;
  right: 16px;
  z-index: 1000;
}

div#drawer {
  z-index: 10;
}

.seamed-card h2 {
  padding: 14px 24px;
  border-bottom: 1px solid #e5e5e5;
}

.seamed-card p {
  padding: 6px 24px;
}

.toggle-first {
  margin-right: 10px;
}

paper-card .card-content {
  border-bottom: 1px solid #e5e5e5;
}

paper-card header h2 {
  margin: 0;
  padding: 0;
}

paper-card #close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}

#selected .avatar {
  display: inline-block;
  border-radius: 50%;
  background: #e91e63;
  color: white;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
}

#selected {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  padding: 16x;
  transition-duration: 0.3s;
  transition-property: right, display;
  z-index: 5;
}

#selected.hidden {
  right: -500px;
}
