<titlebar [title]="'À propos - DispoTrains'" [root]="false"></titlebar>
<mat-card>
<p>DispoTrains: l'information (presque) temps-réel sur l'accessibilité du réseau ferré d'Ile-de-France aux usagers à mobilité réduite. Retrouvez l'état des ascenseurs dans les gares des réseaux ferrés d'Ile-de-France (RATP, Transilien: métro, RER et tram) et ainsi planifiez vos déplacements en évitant les surprises. Par <a href="http://etienne.membrives.fr">Etienne Membrives</a>.</p>
<h3>Comment utiliser ce site ?</h3>
<p>Les gares sont classées par ligne. Sélectionnez une ligne pour afficher toutes les gares accessibles. Les gares disposant d'ascenseurs hors-services sont signalées.</p>
<p>Il est également possible d'afficher des informations détaillées sur la gare : le détail de ses ascenseurs, sa situation géographique, ainsi que les lignes disponibles.  </p>
<h3>À propos</h3>
<p>Ce site est donné à titre indicatif uniquement. Il est possible que les informations qu'il contient soient incomplètes, inexactes ou en retard par rapport à la situation réelle.  N'hésitez pas à <a href="mailto:etienne+dispotrains@membrives.fr">me contacter</a> si vous repérez de tels problèmes afin que je puisse y remédier.</p>
<p>Le contenu de ce site est généré de manière automatique à partir d'informations fournies par le <a href="http://www.stif.info">STIF</a> via sa plateforme <a href="http://www.vianavigo.com">ViaNavigo</a>. L'ensemble des données, avec l'historique complet, est disponible en téléchargement sous forme <a download target="_self" href="/static/data/dump.tar.bz2">d'archive JSON</a> (données récentes) et <a download target="_self" href="/static/data/archive.tsv.bz2">d'archive TSV</a>  (données historiques Infomobi).</p>
<p>Le code source est disponible sous licence Apache 2.0 à l'adresse <a href="https://github.com/emembrives/dispotrains">https://github.com/emembrives/dispotrains</a>.<p>
</mat-card>
