<app-titlebar [line]="lineId" [station]="station?.name" [elevator]="elevator?.id"></app-titlebar>
<div class="mx-auto w-full max-w-screen-xl py-10 text-black">
  <h3 class="px-4 text-base font-semibold leading-7 ">Détails d'ascenseur</h3>
  <dl
    class="divide-gray-100 shadow-sm px-4 sm:py-6 grid grid-cols-1 sm:grid-cols-2 mt-6 overflow-hidden bg-white ring-1 ring-gray-900/5 xl:rounded-xl mx-auto w-full max-w-screen-xl">
    <div class="border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-black">Identifiant</dt>
      <dd class="mt-1 text-sm leading-6  sm:mt-2">{{ elevator?.id }}</dd>
    </div>
    <div class="border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
      <dt class="text-sm font-medium leading-6 ">Direction</dt>
      <dd class="mt-1 text-sm leading-6  sm:mt-2">{{ elevator?.direction }}</dd>
    </div>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
      <dt class="text-sm font-medium leading-6 ">Situation</dt>
      <dd class="mt-1 text-sm leading-6  sm:mt-2">{{ elevator?.situation }}</dd>
    </div>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
      <dt class="text-sm font-medium leading-6 ">État</dt>
      <dd class="mt-1 text-sm leading-6  sm:mt-2">{{ elevator?.status?.state }}</dd>
    </div>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
      <dt class="text-sm font-medium leading-6 ">État jusqu'au</dt>
      <dd class="mt-1 text-sm leading-6 sm:mt-2" *ngIf="elevator?.status?.forecast">{{
        elevator?.status?.forecast | date:'dd/MM/y' }}</dd>
      <dd class="mt-1 text-sm leading-6 sm:mt-2" *ngIf="!elevator?.status?.forecast">N/A</dd>
    </div>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
      <dt class="text-sm font-medium leading-6 ">Dernière mise à jour</dt>
      <dd class="mt-1 text-sm leading-6 sm:mt-2">{{ elevator?.status?.lastupdate | date:'dd/MM/y HH:MM'}}
      </dd>
    </div>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0" *ngIf="stats">
      <dt class="text-sm font-medium leading-6 ">Temps moyen avant panne</dt>
      <dd class="mt-1 text-sm leading-6 sm:mt-2">{{ toDays(stats.Mtbf) | number:'1.0-2' }} jours</dd>
    </div>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0" *ngIf="stats">
      <dt class="text-sm font-medium leading-6 ">Temps moyen de réparation</dt>
      <dd class="mt-1 text-sm leading-6 sm:mt-2">{{ toDays(stats.Mtbr) | number:'1.0-2' }} jours</dd>
    </div>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0" *ngIf="stats">
      <dt class="text-sm font-medium leading-6 ">Taux de fonctionnement</dt>
      <dd class="mt-1 text-sm leading-6 sm:mt-2">{{ workingRatio(stats) | number:'1.0-2' }}%</dd>
    </div>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-2 sm:px-0">
      <dt class="text-sm font-medium leading-6 ">Historique</dt>
      <dd class="mt-1 text-sm leading-6 sm:mt-2">
        <div class="flow-root">
          <ul role="list" class="-mb-8">
            <li *ngFor="let state of stats?.States">
              <div class="relative pb-8">
                <span class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                <div class="relative flex space-x-3">
                  <div *ngIf="state.isBroken()">
                    <span class="h-8 w-8 rounded-full bg-red-600 flex items-center justify-center ring-8 ring-white">
                      <svg class="h-5 w-5 text-white" data-name="Layer 1" aria-hidden="true" fill="#ffffff"
                        version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                        <g transform="scale(0.875) translate(32 32)">
                          <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 
                                     512,452.922 315.076,256" />
                        </g>
                      </svg>
                    </span>
                  </div>
                  <div *ngIf="!state.isBroken()">
                    <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                      <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                          d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                          clip-rule="evenodd" />
                      </svg>
                    </span>
                  </div>
                  <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                    <div>
                      <p class="text-sm">{{ state.state }}</p>
                    </div>
                    <div class="whitespace-nowrap text-right text-sm">
                      <time dateTime={{state.begin}}>{{ state.begin | date:'dd/MM/y HH:MM' }}</time> - <time
                        dateTime={{state.end}}>{{ state.end | date:'dd/MM/y HH:MM' }}</time>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </dd>
    </div>
  </dl>
</div>