<titlebar [title]="'DispoTrains'" [root]="true"></titlebar>
<mat-card>
  <mat-card-content>
    {{ (stats|async).good }} ascenseurs en service;
    {{ (stats|async).bad }} ({{ (stats|async).PercentBad() | number:'1.0-0' }}%) en panne dont 
    {{ (stats|async).longBad }} ({{ (stats|async).PercentLongBad() | number:'1.0-0' }}%) depuis 3 jours ou plus.
  </mat-card-content>
</mat-card>
<mat-nav-list>
  <a mat-list-item *ngFor="let line of lines | async" [routerLink]="['/ligne', line.id]">{{ line.network }} {{ line.id }}</a>
</mat-nav-list>
