SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

## Dispotrains
### Scraper
# m h dom mon dow user	command
*/3 8 *   *   *   root  curl http://localhost:9001/scrape
*/7 * *   *   *   root  curl http://localhost:9001/scrape
43  4 *   *   *   root  curl http://localhost:9001/dump
