<html lang="fr">
    <head>
    <title>{{ .Network }} {{ .ID }} - Dispotrains</title>
    {{template "header.html"}}
    <meta name="description" content="État des équipements d'accessibilité aux usagers à mobilité réduite sur le {{ .Network }} {{ .ID }} mis-à-jour en temps-réel" />
    </head>
    <body class="fullbleed vertical layout" >
        <paper-header-panel>
            <paper-toolbar id="mainheader">
                <a href="/"><paper-icon-button id="back" icon="arrow-back" alt="Retour"></paper-icon-button></a>
                <span class="header"><h1>{{ .Network }} {{ .ID }} - Dispotrains</h1></span>
                <paper-icon-button id="about" icon="help-outline" onclick="document.getElementById('about-dialog').open()" alt="À propos"></paper-icon-button>
            </paper-toolbar>
            <div class="list">
            {{ if .BadStations }}
            <paper-material class="card" elevation="1">
                <h2 class="problem">Avec dysfonctionnement(s)</h2>
                {{ range .BadStations }}
                <a href="/gare/{{.Name}}">
                    <paper-item class="item-ripple">
                        <paper-item-body>
                            {{.DisplayName}}
                        </paper-item-body>
                        <iron-icon icon="hardware:keyboard-arrow-right"></iron-icon>
                    </paper-item>
                </a>
                {{ end }}
            </paper-material>
            {{ end }}
            {{ if .GoodStations }}
            <paper-material class="card" elevation="1">
                <h2 class="ok">En fonctionnement</h2>
                {{ range .GoodStations }}
                <a href="/gare/{{.Name}}">
                    <paper-item class="item-ripple">
                        <paper-item-body>
                            {{.DisplayName}}
                        </paper-item-body>
                        <iron-icon icon="hardware:keyboard-arrow-right"></iron-icon>
                    </paper-item>
                </a>
                {{ end }}
            </paper-material>
            {{ end }}
            </div>
        </paper-header-panel>
        {{template "footer.html"}}
    </body>
</html>
