<html lang="fr">
    <head>
    <title>{{ .DisplayName }} - Dispotrains</title>
    {{template "header.html"}}
		<meta name="description" content="État des équipements d'accessibilité à {{ .DisplayName }} mis-à-jour à {{.LastUpdate.Format "15:04"}} : {{if eq .BadElevators 0}}tous en fonctionnement{{else if eq .BadElevators 1}}1 ascenseur indisponible{{else}}{{.BadElevators}} ascenseurs indisponibles{{end}}."/>
    </head>
    <body class="fullbleed vertical layout" itemscope itemtype="https://schema.org/TrainStation">
        <paper-header-panel>
            <paper-toolbar id="mainheader">
                <paper-icon-button id="back" icon="arrow-back" onclick="window.history.back()" alt="Retour"></paper-icon-button>
                <span class="header"><h1><span itemprop="name">{{ .DisplayName }}</span>, <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">{{.City}}</span></span> - Dispotrains</h1></span>
                <a href="/gare/{{.Name}}/stats"><paper-icon-button id="stats" icon="assessment" alt="Statistiques"></paper-icon-button></a>
                <paper-icon-button id="about" icon="help-outline" onclick="document.getElementById('about-dialog').open()" alt="À propos"></paper-icon-button>
            </paper-toolbar>
            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
              <meta itemprop="latitude" content="{{.Position.Latitude}}" />
              <meta itemprop="longitude" content="{{.Position.Longitude}}" />
            </div>
            <meta itemprop="sameAs" content="http://www.openstreetmap.org/node/{{.OsmID}}"/>
            <div class="list">
                {{ $name := .Name }}
                {{ range .Elevators }}
                {{if not (eq .Status.State "Disponible")}}
                    <paper-icon-item class="problem">
                    <iron-icon icon="warning" item-icon alt="Problème"></iron-icon>
                {{else}}
                    <paper-icon-item>
                {{end}}
                    <paper-item-body two-line>
                    <h3>
                        {{.Situation}}
                    </h3>
                    <div secondary>
                        {{.Direction}} ({{.ID}}) - {{.LocalStatusDate}}
                        <span class="elevator-status"><strong>{{.Status.State}}</strong></span>
                    </div>

                    </paper-item-body>
                </paper-icon-item>
                {{end}}
            </div>
        </paper-header-panel>
        {{template "footer.html"}}
    </body>
</html>
