ul.mainList {
list-style-type:none;
margin:0;
padding:0;
}

a {
display:block;
width:100%;
text-decoration: none;
padding: 5px;
}

li {
    margin: 2px;
}

li.gare a {
    font-weight: bold;
    color: white;
}

li.gareOk {
    background-color: #00D000;
}

li.gareFail {
    background-color: red;
}