<titlebar [title]="(line | async)?.GetName() + ' - Dispotrains'" [root]="false"></titlebar>
<mat-nav-list>
  <h2 mat-subheader>Avec dysfonctionnement(s)</h2>
  <a mat-list-item *ngFor="let station of badStations | async" [routerLink]="['/gare', station.name]" class="broken">
    <station-item [station]=station></station-item>
  </a>
  <mat-divider></mat-divider>
  <h2 mat-subheader>En fonctionnement</h2>
  <a mat-list-item *ngFor="let station of goodStations | async" [routerLink]="['/gare', station.name]">
    <station-item [station]=station></station-item>
  </a>
</mat-nav-list>
