<paper-dialog id="about-dialog" modal>
    <h2>Dispotrains</h2>
    <paper-dialog-scrollable class="text">
        <p>DispoTrains: l'information (presque) temps-réel sur l'accessibilité du réseau ferré d'Ile-de-France aux usagers à mobilité réduite.</p>
        <h3>Comment utiliser ce site ?</h3>
        <p>Les gares sont classées par ligne. Sélectionnez une ligne pour afficher toutes les gares accessibles. Les gares disposant d'ascenseurs hors-services sont signalées.</p>
        <p>Il est également possible d'afficher des information détaillées sur la gare : le détail de ses ascenseurs, sa situation géographique, ainsi que les lignes disponibles.  </p>
        <h3>À propos</h3>
        <p>Ce site est donné à titre indicatif uniquement. Il est possible que les informations qu'il contient soient incomplètes, inexactes ou en retard par rapport à la situation réelle.  N'hésitez pas à <a href="mailto:etienne+dispotrains@membrives.fr">me contacter</a> si vous repérez de tels problèmes afin que je puisse y remédier.</p>
        <p>Le contenu de ce site est généré de manière automatique à partir d'informations fournies par le <a href="http://www.stif.info">STIF</a> via sa plateforme <a href="http://www.infomobi.com">Infomobi</a>. L'ensemble des données, avec l'historique complet, est disponible en téléchargement sous forme <a href="/static/data/dump.tar.bz2">d'archive JSON</a>.</p>
    </paper-dialog-scrollable>
    <div class="buttons">
        <paper-button dialog-dismiss>OK</paper-button>
    </div>
</paper-dialog>
<script type="text/javascript">
    window.doorbellOptions = {
                appKey: 'bB4aDTj5MVcMgir4YEusWyINHjiHDmiJfOmhSJJyDPFd8qxFY8PvG5LfWH9Sai03'
                        };
    (function(d, t) {
                var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/2604?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
                    }(document, 'script'));
</script>
