<html lang="fr">
    <head>
    <title>Dispotrains - Accessibilité en Ile-de-France</title>
    {{template "header.html"}}
    <meta name="description" content="Dispotrains: l'accessibilité temps-réel pour les usagers à mobilité réduite des transports d'Ile-de-France"/>
    <link rel="import" href="/static/js/bower_components/iron-icons/maps-icons.html">
    </head>
    <body class="fullbleed vertical layout" >
        <paper-header-panel>
            <paper-toolbar id="mainheader">
                <span class="header"><h1>DispoTrains: Lignes accessibles</h1></span>
                <a href="https://play.google.com/store/apps/details?id=fr.membrives.dispotrains"><paper-icon-button id="android" icon="android" alt="Android = Google Play"></paper-icon-button></a>
                <a href="/static/map.html"><paper-icon-button id="map" icon="maps:map" alt="Carte d'ensemble"></paper-icon-button></a>
                <paper-icon-button id="about" icon="help-outline" onclick="document.getElementById('about-dialog').open()" alt="À propos"></paper-icon-button>
            </paper-toolbar>
            <div class="list">
                {{range .}}
                <a href="/ligne/{{.ID}}">
                    <paper-item class="item-ripple">
                        <paper-item-body>
                            {{ .Network }} {{ .ID }}
                        </paper-item-body>
                        <iron-icon icon="hardware:keyboard-arrow-right"></iron-icon>
                    </paper-item>
                </a>
                {{end}}
            </div>
        </paper-header-panel>
        {{template "footer.html"}}
    </body>
</html>
