<html lang="fr">
    <head>
        <title>Statistiques pour {{ .Station.DisplayName }} - Dispotrains</title>
        {{template "header.html"}}
		<meta name="description" content="Statistiques des pannes d'ascenseurs pour {{ .Station.DisplayName }}"/>
    </head>
    <body class="fullbleed vertical layout" >
        <paper-header-panel>
            <paper-toolbar id="mainheader">
                <paper-icon-button id="back" icon="arrow-back" onclick="window.history.back()" alt="Retour"></paper-icon-button>
                <span class="header"><h1>Statistiques pour {{ .Station.DisplayName }} - Dispotrains</h1></span>
                <paper-icon-button id="about" icon="help-outline" onclick="document.getElementById('about-dialog').open()" alt="À propos"></paper-icon-button>
            </paper-toolbar>
            <div>
            <paper-material class="card" elevation="1">
                <h2 class="ok">Données agregées</h2>
                <dl>
                    <dt>Pannes/Relevés</dt><dd>{{.Stats.Malfunctions}}/{{.Stats.Reports}}</dd>
                    <dt>Jours de panne/Jours relevés</dt><dd>{{.Stats.MalfunctionDays}}/{{.Stats.ReportDays}}</dd>
                    <dt>Taux de fonctionnement</dt><dd>{{.Stats.PercentFunction | printf "%.1f"}}%</dd>
                </dl>
            </paper-material>
            <paper-material class="card" elevation="1">
                <h2 class="ok">Pannes</h2>
                <div>
                    <div class="stats-graph-elem">
                        <paper-button raised id="btn-week">7 jours</paper-button>
                        <paper-button raised id="btn-month">30 jours</paper-button>
                        <paper-button raised id="btn-year">1 an</paper-button>
                        <paper-button raised id="btn-total">Total</paper-button>
                    </div>
                    <div class="stats-graph-elem" id="zoomEnd"></div>
                    <div class="stats-graph-elem" id="chart_placeholder"></div>
                </div>
            </paper-material>
            </div>
        </paper-header-panel>
        {{template "footer.html"}}
    </body>
<script>
$(document).ready(function(event) {
var chartPlaceholder = document.getElementById('chart_placeholder');
var data = []
{{ range $ID, $dates := .Events }}
data.push({"name": "{{ $ID }}", "dates": [{{ range $dates }}new Date("{{.}}"), {{ end }}]});
{{ end }}
data.push({"name": "Relevés", "dates": [{{ range .Reports }}new Date("{{.}}"), {{ end }}]});

var color = d3.scale.category20();
var locale = d3.locale({
    "decimal": ",",
    "thousands": " ",
    "grouping": [3],
    "dateTime": "%x, %X",
    "date": "%d/%m/%Y",
    "time": "%H:%M:%S",
    "periods": ["AM", "PM"],
    "days": ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
    "shortDays": ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
    "months": ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
    "shortMonths": ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."]
});

function formatDate(date) {
    return '' + date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
}

function addDays(date, days) {
    var result = new Date(date);
    result.setDate(date.getDate() + days);
    return result;
}

var startDataDate = new Date("{{.StartDate}}");
var endDataDate = new Date("{{.EndDate}}");

var graph = d3.chart.eventDrops()
    .start(startDataDate)
    .end(endDataDate)
    .minScale(0.5)
    .maxScale(100)
    .locale(locale)
    .hasDelimiter(false)
    .hasBottomAxis(false)
    .eventLineColor(function (datum, index) {
        if (datum.name === "Relevés") {
            return 'blue';
        } else {
            return 'red';
        }
    })
//    .eventColor(function (datum, index) {
//        return 'blue';
//    })
    .width($(chartPlaceholder).width() - 50)
    .margin({ top: 80, left: 200, bottom: 40, right: 50 })
//    .axisFormat(function(xAxis) {
//        xAxis.ticks(5);
//    })
//    .eventHover(function(el) {
//        var series = el.parentNode.firstChild.innerHTML;
//        var timestamp = d3.select(el).data()[0];
//       document.getElementById('legend').innerHTML = 'Hovering [' + timestamp + '] in series "' + series + '"';
//})
    .eventZoom(function (scale) {
        var limit = scale.domain();
        var begin = new Date(limit[0]);
        var end = new Date(limit[1]);
        document.getElementById('zoomEnd').innerHTML = 'Du ' + formatDate(begin) + ' au ' + formatDate(end);
        if (begin < startDataDate) {
            graph.start(startDataDate);
            graph(element);
        }
        if (end > endDataDate) {
            graph.end(endDataDate);
            graph(element);
        }
        var timeSpan = (end - begin) / (1000 * 3600 * 24);
        var opacity = Math.min(1, Math.max(0.1, (2913.0-7*timeSpan)/3580.0));
        var circleWidth = Math.min(2, Math.max(0.4, (1818-4*timeSpan)/895.0));
        $.stylesheet(".graph-body .line circle").css('opacity', opacity).css('transform', 'scale(' + circleWidth + ', 1)');
    });
var element = d3.select(chartPlaceholder).append('div').datum(data);
graph(element);

$("#btn-week").click(function() {
    graph.end(endDataDate);
    graph.start(addDays(endDataDate, -7));
    graph(element);
});

$("#btn-month").click(function() {
    graph.end(endDataDate);
    graph.start(addDays(endDataDate, -30));
    graph(element);
});

$("#btn-year").click(function() {
    graph.end(endDataDate);
    graph.start(addDays(endDataDate, -365));
    graph(element);
});

$("#btn-total").click(function() {
    graph.end(endDataDate);
    graph.start(startDataDate);
    graph(element);
});
});
</script>
</html>
