<titlebar [title]="(elevator | async)?.situation + ' - ' + (station | async)?.displayname + ' - Dispotrains'" [root]="false"></titlebar>
<mat-list>
  <elevator-item *ngIf="elevator | async; let elevator" [elevator]="elevator"></elevator-item>
</mat-list>
<mat-list *ngIf="stats | async; let stats">
  <h2 mat-subheader>Statistiques</h2>
  <mat-list-item>
    <div mat-line>
      Temps moyen avant panne: {{ toDays(stats.mtbf) | number:'1.0-2' }} jours
    </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>
      Temps moyen de réparation: {{ toDays(stats.mtbr) | number:'1.0-2' }} jours
    </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>
      Taux de fonctionnement: {{ workingRatio(stats) | number:'1.0-2' }}%
    </div>
  </mat-list-item>
</mat-list>
<mat-list *ngIf="stats | async; let stats">
  <h2 mat-subheader>Historique</h2>
  <mat-list-item *ngFor="let state of stats.states" [class.brokenstate]="state.state != 'Disponible'">
    {{ state.start | date:'dd/MM/y HH:MM' }} - {{ state.end | date:'dd/MM/y HH:MM' }} : {{ state.state }}
  </mat-list-item>
</mat-list>
